    @media screen and (max-width: 850px) {
        .score {
            display: flex;
            flex-direction: column;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        .containerCanvas {
            width: 80%;
            margin-top: 2px;
        }
        .body {
            padding-top: 0;
        }
    }