* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.containerCanvas {
    border: solid #0B1907 5px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    height: 500px;
    width: 800px;
    justify-content: center;
    background-image: url("../img/img-fundo.jpeg");
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-size: 16px;
}

header p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

.banner {
    text-align: left;
    color: #fff;
    background: #034d30;
    line-height: 29px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    font-family: monospace;
    height: 30px;
    display: flex;
    transition: .5s
}

div#selector>div {
    flex-basis: 30%
}