/* WIDTH */
@media (max-width: 768px){
    section {
        position: relative;   
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .left_score {
        width: 35rem;
        height: 35rem;
        margin-top: 0.6rem;
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
    }

    .left_score div{
        padding-top: 0.1rem;
    }

    .right_canvas {
        width: 30rem;
        height: 30rem;
        margin: 0;
        margin-top: -480px;
        
    }
}

@media (max-width: 567px){
    .left_score {
        width: 29rem;        
    }
    .right_canvas {
        width: 27rem;  
        height: 27rem;  
        margin-top: -445px;    
    }
}

@media (max-width: 414px){
    .left_score {
        width: 25rem;  
        height: 30em;       
    }
    .left_score div{
        padding: 0.2rem;
    }
    .right_canvas {
        width: 25rem;  
        height: 29rem;         
        margin-top: -465px;   
        
    }
}

@media (max-width: 375px){
    .left_score {
        width: 22rem;  
        height: 28em;       
    }
    .left_score div{
        padding: 0.1rem;
    }
    .right_canvas {
        width: 22rem;  
        height: 28rem;         
        margin-top: -448px;   
        
    }
    canvas {
        align-items: center; 
    }
}

/* HEIGHT*/

@media (min-height: 1366px){
    section {
        position: relative;   
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .left_score {
        width: 40rem;
        height: 42rem;
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
    }

    .left_score div{
        padding-top: 0.1rem;
    }

    .right_canvas {
        width: 40rem;
        height: -80rem;
        
        margin-top: -500px;
        margin-left: 10rem;
    }
}